.container-player {
	width: 700px;
	margin: auto;
	margin-top: 120px;

	.caption {
		font-size: 16px;
		color: rgba(77, 77, 77,.5);
	}

	.cover {
		width: 180px;
		height: 180px;
		margin-left: 20px;
		border-radius: 50%;
		border: 5px solid rgba(200,200,200,.4);

		img {
			width: 180px;
			height: 180px;
			border-radius: 50%;
			box-shadow: -1px -1px 13px #888;
		}

		.spin {
			animation: myRotate 20s linear infinite;
			//animation-play-state: paused; //paused|running;
		}

		@keyframes myRotate
		{
			from {
				transform:rotate(0deg);
			}
			to {
				transform:rotate(360deg);
			}
		}

	}
	.volume-container {
		position: relative;
		left: 20px;
		top: -3px;
	}
	.volume-container .volume-wrapper {
		opacity: 0;
		transition: opacity .5s linear;
	}
	.volume-container:hover .volume-wrapper {
		opacity: 1;
	}
	.music-title {
	    font-size: 25px;
	    font-weight: 400;
	    color: #464545;
	    height: 36px;
	    line-height: 36px;
	}
	.music-artist {
		font-size: 15px;
	    font-weight: 400;
	    color: rgb(74, 74, 74);
    }
    .left-time {
    	font-size: 14px;
    	color: #4d4d4d;
    	font-weight: 400;
    	width: 40px;
    }
    .icon {
    	cursor: pointer;
    }
    .ml20 {
    	margin-left: 20px;
    }
    .mt35 {
    	margin-top: 35px;
    }
    .volume-wrapper {
    	width: 60px;
    	display: inline-block;
    }
}
